MARC.HI.EHRS.SVC.Auditing.Atna/Configuration/marc.hi.ehrs.svc.auditing.atna.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
Sample license text.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marc.hi.ehrs.svc.auditing.atna">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="destination">
          <xs:complexType>
            <xs:attribute name="endpoint" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="messagePublisher" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>