MARC.HI.EHRS.QM.Persistence.Data/Configuration/marc.hi.ehrs.qm.persistence.data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marc.hi.ehrs.qm.persistence.data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="connectionManager">
          <xs:complexType>
            <xs:attribute name="connection" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="limit">
          <xs:complexType>
            <xs:attribute name="maxAge" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>