MARC.HI.EHRS.SVC.Messaging.Persistence.Data/Configuration/marc.hi.ehrs.svc.messaging.persistence.xsd

<!--

  Copyright 2012-2012 Mohawk College of Applied Arts and Technology
  
  Licensed under the Apache License, Version 2.0 (the "License"); you 
  may not use this file except in compliance with the License. You may 
  obtain a copy of the License at 
  
  http://www.apache.org/licenses/LICENSE-2.0 
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
  License for the specific language governing permissions and limitations under 
  the License.
  
  User: fyfej
  Date: 23-8-2012


-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marc.hi.ehrs.svc.messaging.persistence">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="connectionManager">
          <xs:complexType>
            <xs:attribute name="connection" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>