MARC.HI.EHRS.SVC.Messaging.Persistence.Data/Configuration/marc.hi.ehrs.svc.messaging.persistence.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="marc.hi.ehrs.svc.messaging.persistence">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="connectionManager">
          <xs:complexType>
            <xs:attribute name="connection" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>